.ant-layout{
  background: var(--bg-primary-color);
  .ant-layout-header{
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .ant-layout-footer{
    background: transparent;
    padding: 2rem 4rem;
    border: 0.1rem solid var(--box-shadow-color);
    border-left: none;
    border-right: none;
  }
}
.ant-tabs-nav {
  margin: 1rem;
  border-radius: 3.2rem;
  background: #fff;
  box-shadow: 0rem 0rem 0.6rem 0.1rem #d1cbcb;
  padding: 0.2rem;
  .ant-tabs-tab:last-child {
    margin-right: 0.3rem !important;
  }
  .ant-tabs-tab {
    margin: 0.3rem;
    padding: 0.5rem 2rem;
    &:hover,
    &:active,
    &:focus {
      color: currentColor;
    }
    transition: none;
  }
  .ant-tabs-tab-active {
    background: var(--theme-primary-color);
    color: #fff;
    border-radius: 3rem;
    &:hover {
      color: #fff;
    }
  }
  .ant-tabs-ink-bar {
    display: none !important;
  }
}
.ant-switch {
  background-color: black !important;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: none;
  line-height: 1.5 !important;
  &.ant-switch-checked {
    transition: none;

    border: 1px solid #ffffff;
    &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f185';
      font-size: 12px;
      margin-left: -2px;
    }
  }
  &:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f186';
    line-height: normal;
    font-size: 12px;
    background-color: transparent !important;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-switch-inner {
    color: #ffffff;
  }
}
.ant-notification {
  top: 10rem !important;
  z-index: 9999;
}
