@import "./htmlTags.css";

:root {
  --logo-font-family: "Saira Stencil One", sans-serif;
  --bg-primary-color: #000000;
  --text-secondary-color: #a19797;
  --text-primary-color: #ffffff;
  --text-white-color: #ffff;
  --box-shadow-color: #a19797;
  --theme-primary-color: rgb(255 90 1);
  --theme-gradient-primary-color: linear-gradient(
    70deg,
    rgb(255, 90, 1) 53%,
    rgb(255 75 0) 61%
  );
  --primary-transparent-color: rgb(255 90 1 / 93%);
  --layout-header-height: 6.3rem;
  --hero-section-height: calc(100vh - var(--layout-header-height));
}
